langchain
langchain-community
langchain-postgres
langchain-ollama
pypdf
fastapi
uvicorn
sentence-transformers
psycopg2-binary
pgvector
python-dotenv
langchain-huggingface
rank_bm25
tavily-python
python-jose[cryptography]
python-multipart
passlib[bcrypt]
faiss-cpu